/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------
Viewport and borderbox
-----------------------------------------------------------------*/

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3rem "Lato", "Helvetica Neue", Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*-----------------------------------------------------------------
Main styling
-----------------------------------------------------------------*/

body {
  background-color: #f7f7f7;
  color: #444;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3rem;
  font-family: "Roboto", "Georgia", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------------------------------------------------------
Grid
-----------------------------------------------------------------*/

.row {
  width: 100%;
  margin: 0;
}

.topic {
  /*margin: 1.3rem 1rem;*/
}

header {
  margin: 0;
}

.title-description {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
}

.herow {
  background-color: #1abc9c;
  color: #f7f7f7;
  margin: 0;
}

.hero h1 {
  padding: 8rem 0 8rem 0;
  font-size: 2rem;
}

.hero {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 0 10%;
}



/*-----------------------------------------------------------------
Primary navigation
-----------------------------------------------------------------*/

.nav {
  padding: 1rem 0;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  background-color: #f7f7f7;
  color: #444;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 0 2rem;
  padding-bottom: 0;
}

@media only screen and (min-width: 430px) {

  .nav li {
    display: inline-block;
    padding-bottom: 0;
  }

}

@media only screen and (min-width: 640px) {

  .nav li {
    margin: 0 3rem;
  }

}
