/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------
Viewport and borderbox
-----------------------------------------------------------------*/

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;


}

*, *::before, *::after {
  box-sizing: inherit;
}

/*-----------------------------------------------------------------
Main styling
-----------------------------------------------------------------*/

body {
  font: normal 100%/1.3rem "Lato", "Helvetica Neue", Arial, sans-serif;
  background-color: #f7f7f7;
  color: #444;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3rem;
  font-family: "Roboto", "Georgia", sans-serif;
}

p {
  margin: 0 0 1.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.inline-link {
  color: #f62459;
  font-weight: bold;
}

/*-----------------------------------------------------------------
Grid
-----------------------------------------------------------------*/

.row {
  width: 100%;
  margin: 0;
  margin-bottom: 4rem;
  clear: both;
}

@media only screen and (min-width: 35em) {

  .unit-1-2 {
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 2.7rem;
  }

}

/*-----------------------------------------------------------------
Banner
-----------------------------------------------------------------*/

.title-description {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 8rem;
  padding-top: .5rem;
}

.herow {
  background: #1abc9c;
  background: -webkit-linear-gradient(left, #01a99c 10%, #0698b1 90%);
  background: linear-gradient(to right, #01a99c 10%, #0698b1 90%);
  color: #f7f7f7;
  margin: 0;
}

.hero h1 {
  padding-top: 8rem;
  padding-bottom: .8rem;
  font-size: 2rem;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: 0 10%;
}

.line {
  background-color: #f62459;
  height: 3px;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  -webkit-animation: linedraw 500ms ease-out forwards;
          animation: linedraw 500ms ease-out forwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  border-radius: 3px;
}

@-webkit-keyframes linedraw {

  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 4rem;
    opacity: 1;
  }

}

@keyframes linedraw {

  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 4rem;
    opacity: 1;
  }

}

/*-----------------------------------------------------------------
Primary navigation
-----------------------------------------------------------------*/

.nav {
  margin-bottom: 2.6rem;
}

.primary-nav {
  padding: 1rem 0;
  text-align: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  background-color: #f7f7f7;
  color: #444;
}

.primary-nav ul {
  margin: 0;
  padding: 0;
}

.primary-nav li {
  display: inline-block;
  margin: 0 2rem;
  padding-bottom: 0;
}

.primary-nav a:hover {
  border-bottom: 2px solid #f62459;
  padding-bottom: .3rem;
  cursor: pointer;
  transition: all 200ms ease;
  color: #0698b1;
}

@media only screen and (min-width: 430px) {

  .primary-nav li {
    display: inline-block;
    padding-bottom: 0;
  }

}

@media only screen and (min-width: 640px) {

  .primary-nav li {
    margin: 0 3rem;
  }

}

/*---------------------------------
Content
---------------------------------*/

section > h2, .unit-1-2 > h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-left: 3rem;
  margin-bottom: .8rem;
}

.content-line {
  margin-left: 3rem;
  margin-right: 0;
  margin-bottom: .8rem;
}

.unit-1-2 img {
  width: 90%;
  padding: .3rem 5%;
}

.center {
  text-align: center;
}

@media only screen and (min-width: 46rem) {

  .unit-1-2 img {
    max-width: 450px;
  }

}
